user_uuid="f6d4a521-8a07-4b3f-9d73-2e817a8dcb3d"
bucket_name="somethingw7yv-veryw7yv-uniue2wki"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"

content_version=1
